@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

button,
input {
  outline: none;
}

.Container {
  margin: 200px 0 40px 0;
  position: relative;
  padding: 20px 40px;
}

.Section {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.Label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.Section + .Section {
  margin-top: 10px;
}
